.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align logo and navigation items */
    padding: 10px 20px;
    background-color:  #e0d7ca;; /* Optional background color */
}
.logoimg{
    width: 150px;
}
.nav-items {
    display: flex;  /* Align list items horizontally */
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.nav-items li {
    margin: 0 15px; /* Add spacing between items */
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Optional: Make text bold */
    font-size: large;
}
.nav-items li:hover {
    color: #007bff; /* Optional: Change color on hover */
    text-decoration: underline; /* Optional: Add underline on hover */
  }



.res-container{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.res-card{
    margin: 20px;
    width : 200px;
    background-color: rgb(192, 185, 176);
    text-align: center;
    border-radius:5%;
}

.res-card:hover{
    border: solid black;
    border-width: 5px;
    cursor: pointer;
}

.body-comp{
    padding: 15px ;
    margin: 15 px;
    align-items: center;
background-color: black;
}

.res-logo{
    padding: 10PX;
    width: 180px;
    height: 150px;
}

.rest-name{
    font-size: medium;
}

.rest-cusine{
    font-size: small;
}

.rest-rating{
    font-size: small;
}

.rest-eta{
    font-size: small;
}

.top-rated-btn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
  }

.pure-veg{
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    background-color: green;
}

.search-btn{
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
    background-color: red
}

.res-card-shimmer{
    margin: 20px;
    width : 200px;
    height: 218px;
    background-color:  rgb(192, 185, 176);
    text-align: center;
    border-radius:5%;
}

.filters {
    display: flex;
    margin-bottom: 20px;
  }